@model CVOnWeb.Models.ForgotPasswordModel
    @using (Html.BeginUmbracoForm("ForgotPassword", "UserManagement", FormMethod.Post, new { id = "userforgotpasswordform", name = "userforgotpasswordform" }))
    {
        <div class="form-group">
            @Html.ValidationMessageFor(v => v.FPUserEmailAddress)
            @Html.TextBoxFor(t => t.FPUserEmailAddress, new { @class = "form-control", autocomplete = "off", placeholder = "Email address" })
        </div>
        <div class="form-group center-align">
            <button type="submit" class="btn brand-btn" value="Sign In">Sign In</button>
        </div>
    }
