@model CVOnWeb.Models.ResetPasswordModel

@if (Model.RequestIsValid)
{
    using (Html.BeginUmbracoForm("SetNewPassword", "UserManagement", FormMethod.Post, new { id = "userresetpasswordform", name = "userresetpasswordform" }))
    {
        <div class="form-group">
        @Html.ValidationMessageFor(v => v.FPUserPassword)
        @Html.PasswordFor(t => t.FPUserPassword, new { @class = "form-control", autocomplete = "off", placeholder = "New Password" })
        </div>
        <div class="form-group">
            @Html.ValidationMessageFor(v => v.FPUserConfirmPassword)
            @Html.PasswordFor(t => t.FPUserConfirmPassword, new { @class = "form-control", autocomplete = "off", placeholder = "Confirm New Password" })
        </div>
        <div class="form-group center-align">
            <button type="submit" class="btn brand-btn" value="Reset">Reset Password</button>
        </div>
    }

}
else
{
    <div class="error-message">
        This link has expired. If you have requested for password reset, kindly try again.
    </div>
}